---
layout: default
---

<div class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <span>{{ post.date | date_to_string }}</span>. — <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    <br/>
    <div class="content">
    {{ post.content }}
    </div>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
    <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    |
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    |
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>
