<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
<!--     MathJax implementation -->
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <!-- <style>
    header {
      /* width:270px; */
      /* float:left; */
      /* position:static; */
      /* height:720px; */
      /* -webkit-font-smoothing:subpixel-antialiased; */
    }
  </style> -->
  <body style="background-color: #f6eeda; padding: 25px;">
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
        </h1>
        <small>the website of</small><br/>
        <strong>Rodolfo R. Soldati</strong>
        {% if site.logo %}
         <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <p style="font-size:8px">Photograph by my friend Mark.</p>
        
        <!-- <strong>
          <small>
            ℹ️ about me
          </small>
        </strong> -->

        <p>
          <strong>
              about me
          </strong><br/>
          <small>
            {{ site.description | default: site.github.project_tagline }}<br/>
            <br/>
            See also (links open in new page):<br/>
            <span white-space="nowrap">
              <a href="https://drive.google.com/file/d/1zlF3PodLtH4AlG6PWhsnB3JKLYUZ_w7e/view?usp=sharing" target="_blank">CV file</a>
            </span> • 
            <span white-space="nowrap">
              <a href="https://orcid.org/0000-0002-1446-1276" target="_blank">ORCID iD</a>
            </span> • 
            <span white-space="nowrap">
              <a href="https://scholar.google.com/citations?user=1JYgbkQAAAAJ&hl=en" target="_blank">Google Scholar</a>
            </span> • 
            <span white-space="nowrap">
              <a href="http://lattes.cnpq.br/0323881141533439" target="_blank">Lattes</a>
            </span><br/>
            For a list of preprints, see:<br/>
            <span white-space="nowrap">
              <a href="https://arxiv.org/a/reissoldati_r_1.html" target="_blank">arXiv</a>
            </span><br/>
            For <em>contact information</em> (emails) I recommend looking it up in my latest preprints in the link above (I'm avoiding some spam by not putting it here, and in this way you can also be sure to have the latest contact info).
          </small>
        </p>
        
        <!-- <strong>
          <small>
            ℹ️ reach me
          </small>
        </strong>
        
        <br/>
        <small>by email: rsoldati [at] usp.br</span></small>
        <br/>
        <small>
          or at:<br/>
          Department of Mechanics and Materials, office 102<br/>
          Universidade de Sao Paulo, Instituto de Fisica<br/>
          Rua do Matao, 1271<br/>
          05508-090<br/>
          Sao Paulo, SP, Brazil
        </small> -->
      </header>
      <section>

      <!-- extra content -->
      
      {{ content }}
      
      <!-- extra content -->
      
      <div style="text-align: right">
        &#8718;
        </div>

      </section>
      <footer>
        <!-- <strong>
            reach me
        </strong>
        
        <br/>
        <small>rsoldati [at] usp.br</span></small>
        <br/>
        <small>rodolfo.soldati [at] itp1.uni-stuttgart.de</span></small>
        <p style="font-size:8px">Cover photo is a landscape of Durham city, England, on a hill next to St. Aidan's College. 2015.</p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <!-- <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
    <!-- <script type="text/javascript" id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js"></script> -->
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
