<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
<!--     MathJax implementation -->
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <style>
    /* header { */
      /* width:270px; */
      /* float:left; */
      /* position:static; */
      /* height:720px; */
      /* -webkit-font-smoothing:subpixel-antialiased; */
    /* } */
    /* Style the tab */
    .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f6eeda;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }
  </style>
  <body style="background-color: #f6eeda; padding: 25px;">
    <div class="wrapper">
        <header>
            <h1 style="margin-bottom: 5px;">
            <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
            </h1>
            <small>the website of</small><br/>
            <strong>Rodolfo R. Soldati</strong>
            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}
            <p style="font-size:8px">Photograph by my friend Mark.</p>
            
            <!-- <strong>
            <small>
                ℹ️ about me
            </small>
            </strong> -->

            <p>
            <strong>
                about me
            </strong><br/>
            <small>
                {{ site.description | default: site.github.project_tagline }}<br/>
                See also (links open in new page):<br/>
                <span white-space="nowrap">
                <a href="https://rodolfor-s.github.io/assets/cv_rsoldati.pdf" target="_blank">CV file</a>
                </span> • 
                <span white-space="nowrap">
                <a href="https://orcid.org/0000-0002-1446-1276" target="_blank">ORCID iD</a>
                </span> • 
                <span white-space="nowrap">
                <a href="https://scholar.google.com/citations?user=1JYgbkQAAAAJ&hl=en" target="_blank">Google Scholar</a>
                </span> • 
                <span white-space="nowrap">
                <a href="http://lattes.cnpq.br/0323881141533439" target="_blank">Lattes</a>
                </span><br/>
                For a list of preprints, see:
                <!-- <span white-space="nowrap"> -->
                <a href="https://arxiv.org/a/reissoldati_r_1.html" target="_blank">arXiv,</a> 
                <!-- </span> -->
                or see the publications column.<br/>
                For <strong>contact information</strong> (emails) I recommend looking it up in my latest preprints in the link above.
                <!-- (I'm avoiding some spam by not putting it here, and in this way you can also be sure to have the latest contact info). -->
            </small>
            </p>
            <hr>
            <!-- <strong>
            <small>
                ℹ️ reach me
            </small>
            </strong>
            
            <br/>
            <small>by email: rsoldati [at] usp.br</span></small>
            <br/>
            <small>
            or at:<br/>
            Department of Mechanics and Materials, office 102<br/>
            Universidade de Sao Paulo, Instituto de Fisica<br/>
            Rua do Matao, 1271<br/>
            05508-090<br/>
            Sao Paulo, SP, Brazil
            </small> -->
        </header>

        <section>

            <!-- Tab links -->
            <div class="tab" style="position: sticky; top: -10px; margin-top: -15px; margin-bottom: 20px;">
                <button class="tablinks" onclick="openCity(event, 'bulletin')" id="defaultOpen">News</button>
                <button class="tablinks" onclick="openCity(event, 'publications')">Publications</button>
            </div>
                        
            <!-- Tab content -->
            <div id="bulletin" class="tabcontent">
                <h2>📰 Bulletin</h2>
                
                <!-- extra content -->
                
                {{ content }}
                
                <!-- extra content -->
                
                <div style="text-align: right">
                    <!-- &#8718; -->
                    ∎
                </div>
            </div>
            
            <div id="publications" class="tabcontent">
                <h2>Publications</h2>

                <script src="https://bibbase.org/show?bib=https%3A%2F%2Frodolfor-s.github.io%2Fassets%2Fpublications.bib&commas=true&jsonp=1&hidemenu=true&theme=simple"></script>

                <div style="text-align: right">
                    <!-- &#8718; -->
                    ∎
                </div>
            </div>

            <script>
                function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        
        <!-- <h2>📰 Bulletin</h2> -->
        
        <!-- extra content -->
        
        <!-- {{ content }} -->
        
        <!-- extra content -->
        
        <!-- <div style="text-align: right"> -->
            <!-- &#8718; -->
            <!-- ∎ -->
        <!-- </div> -->
        </section>
        <footer style="margin-bottom: -20px;">
            <small>
                <em>Base space</em> is a concept in the theory of fibre bundles, serving as part of the local trivialisation of the corresponding total space into the cartesian product <em>base</em> × <em>fibre.</em>
            </small>
            <!-- <strong>
                reach me
            </strong>
            
            <br/>
            <small>rsoldati [at] usp.br</span></small>
            <br/>
            <small>rodolfo.soldati [at] itp1.uni-stuttgart.de</span></small>
            <p style="font-size:8px">Cover photo is a landscape of Durham city, England, on a hill next to St. Aidan's College. 2015.</p> -->
        </footer>
    </div>
    <!-- <div style="
    display: flex;
    flex-wrap: wrap;
    position: static; 
    /* right: 0px;  */
    /* width: 200px; */
    ">
        <h3>Publications</h3>
        <script src="https://bibbase.org/show?bib=https%3A%2F%2Frodolfor-s.github.io%2Fassets%2FmyPubs.bib&commas=true&jsonp=1&hidemenu=true&theme=simple"></script>
    </div> -->
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <!-- <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
    <!-- <script type="text/javascript" id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js"></script> -->
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
